{% extends 'layouts/base.html.twig' %}

{% block title %}nouveau salarier{% endblock %}

{% block body %}
<div class="page">
    <div class="archive">
        {{form(form)}}
    </div>
</div>
{% endblock %}