{% extends 'layouts/base.html.twig' %}

{% block title 'Login'%}

{% block body %}


<div class="card-body">
	<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><img alt="person" class="iconLogin" src="https://img.icons8.com/material-rounded/344/person-male.png" lazy="loaded"></i></span>
						</div>
                        <input type="email" class="form-control"  id="email" name="email" placeholder="username" value="{{ app.session.get('app_login_form') }}" required autofocus>
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><img alt="key" class="iconLogin" src="https://img.icons8.com/material-rounded/344/key.png" lazy="loaded"></i></span>
						</div>
                        <input type="password" class="form-control" placeholder="password" id="password" name="password" required>
					</div>
					<div class="form-group">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('login_form') }}">
                        <input type="submit"  value="Login" class="btn float-right btn-success">
					</div>
				</form>
			</div>
			<div class="card-footer">
                <br>
			</div>
		</div>
	</div>
</div>
{% endblock %}