{% extends 'layouts/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <article>
        <h2>Chambre en attente</h2>
        <lu>
            <li class="content">chambre 4 etage 2</li>
            <li class="content">chambre 4 etage 2</li>
            <li class="content">chambre 4 etage 2</li>
        </lu>
    </article>
    <article>
        <h2>Tache en cours</h2>
        <lu>
            <li class="content">Jean edoire chambre 4 etage 2</li>
            <li class="content">Jean edoire chambre 4 etage 2</li>
            <li class="content">Jean edoire chambre 4 etage 2</li>
        </lu>   
    </article>

{% endblock %}
