{% extends 'base.html.twig' %}

{% block title %}Hello ChambreController!{% endblock %}

{% block body %}
<section classe="articles">


    <article>
        <h2>Chambre: </h2>
        <div class="metadata">ETAT</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ratione laudantium pariatur incidunt minus quas!</p>
        <p>Quae vero necessitatibus voluptatem? Voluptate magnam labore debitis non dolorem! Consequatur at sequi deleniti commodi?</p>
        <a href="" class="btn btn-primary">netoyage</a>
        <a href="" class="btn btn-primary">libéré</a>
        <a href="" class="btn btn-primary">louer</a>
        <a href="" class="btn btn-primary">nouvelle tache</a>
    </article>

</section>
{% endblock %}
